:where(:root) {
  fieldset {
    border: 1px solid var(--element-fieldset-borderColor);
    border-radius: var(--radius-2);
    margin-bottom: 1rem;
  }

  legend {
    color: var(--element-legend-fontColor);
  }
}
