---
const {
  title,
  text,
  class: className,
  editable = true,
  "data-prop-title": customDataPropTitle = "title",
  "data-prop-content": customDataPropContent = "text",
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => key !== "_component")
);

const titleDataAttributes =
  editable && customDataPropTitle
    ? {
        "data-editable": "text",
        "data-prop": customDataPropTitle,
      }
    : {};

const contentDataAttributes =
  editable && customDataPropContent
    ? {
        "data-editable": "text",
        "data-prop": customDataPropContent,
      }
    : {};

const hasTitle = title && title.trim().length > 0;
const hasTitleSlot = Astro.slots.has("title");
const hasText = text && text.trim().length > 0;
const hasSlot = Astro.slots.has("default");

if ((!hasTitle && !hasTitleSlot) || (!hasText && !hasSlot)) {
  return;
}
---

<dt class:list={["title", className]} role="term" {...titleDataAttributes} {...htmlAttributes}>
  <span {...titleDataAttributes}>
    <slot name="title">
      {title}
    </slot>
  </span>
</dt>
<dd class:list={["content", className]} role="definition" {...htmlAttributes}>
  <span {...contentDataAttributes}>
    <slot>
      {text}
    </slot>
  </span>
</dd>

<style lang="pcss">
  .title {
    font-weight: var(--font-weight-bold);
  }
</style>
