:where(:root) {
  .nav-wrapper {
    position: relative;
    z-index: var(--layer-3);

    &-desktop {
      display: block;
    }

    &-mobile {
      display: none;
    }
  }

  @media (width <= 850px) {
    .nav-wrapper-desktop {
      display: none;
    }

    .nav-wrapper-mobile {
      display: block;
    }
  }
}
